{% extends 'warehouse/base-tecnic.html' %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="col">
                <form id=”search” method=”GET” action=" {% url 'tecnic-home' %}">
                    <div class="card-body row align-items-center">
                        <i class="fa fa-search" style='font-size:30px'></i>
                            <!--end of col-->
                            <div class="col">
                                <input class="form-control form-control-lg form-control-borderless" type="search"  name="q"  placeholder="Inserta que vol buscar">
                            </div>
                            <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->

            <div class="scroll-panel mt-2 mb-5" style=" position: relative;
                                      width: 100%;
                                      height: calc(100vh - 275px);
                                      min-height: 165px;
                                      overflow-y: scroll;">
                {% if items %}
                {% for item in items %}
                <div class="card" >
                  <h5 class="card-header bg-dark text-white">{{ item.name }} </h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5> Descripció: </h5> {{ item.description}}
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col-auto text-right">
                                        <button type="button" class="btn btn-primary btn-block mt-5"  data-toggle="modal" data-target="#acceptModal_{{ forloop.counter}}">Modificar</button>
                                        <div class="modal fade" id="acceptModal_{{ forloop.counter}}">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <div align="left"><h5>{{ item.name }}</h5></div>
                                                        <div align="right"><a class="btn btn-danger text-button"  href="{% url 'deleted-product' pk=item.pk %}" role="button"> Borrar </a>
                                                        <form method=”POST” action=" {% url 'update-product' pk=item.pk counter=forloop.counter %}">
                                                          <div class="mt-2 mb-2" align="left"><h5>Quantitat a afegir/treure</h5></div>
                                                            <div align="left"><input type="number" name="i_{{ forloop.counter}}" min="-{{ item.quantity }}"></div>
                                                          <div align="left"><button class="btn btn-success btn-block mt-5" type="submit">Guardar canvis</button></div>
                                                        </form>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer"> <h5> Quantitat: {{ item.quantity}} </h5> </div>
                </div>
                <p></p>
                {% endfor %}
                {% else %}
                <div class="alert alert-secondary mt-2 mb-5" role="alert">
                    No hi ha productes amb els criteris aportats.
                </div>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock content%}
