{% extends 'warehouse/base-comptabilitat.html' %}
{% block content %}
<html>
<head>
  <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>
</head>
<body>
<span vocab="http://schema.org/">
<h2 class="mt-2">Log file</h2>

<table class="table-bordered mt-2" width="100%" style="text-align: center; overflow-x:auto">
  <tr>
    <th><h5>Producte</h5></th>
    <th><h5>Categoria</h5></th>
    <th><h5>Quantitat modificada</h5></th>
    <th><h5>Data</h5></th>
   	</tr>
  <span typeof="ItemList">
    {% for item in items %}
    <span rel="itemListElement" typeof="ListItem">
    <tr>
      <th><span property="name">{{ product.product_id_change.name }}</span></th>
      <th><span property="disambiguatingDescription">{{ product.category_id_change.category }}</span></th>
      <th><span property="identifier">{{ product.quantity_modify }}</span></th>
      <th><span property="position">{{ product.date }}</span></th>
    </tr>
    </span>
{% endfor %}
</span>
</table>

  </span>
</body>
{% endblock content %}

